/* Coolors Exported Palette - https://coolors.co/386641-6a994e-a7c957-f2e8cf-bc4749 */

/* CSS HEX */
--hunter-green: #386641ff;
--may-green: #6a994eff;
--android-green: #a7c957ff;
--eggshell: #f2e8cfff;
--bittersweet-shimmer: #bc4749ff;

/* CSS HSL */
--hunter-green: hsla(132, 29%, 31%, 1);
--may-green: hsla(98, 32%, 45%, 1);
--android-green: hsla(78, 51%, 56%, 1);
--eggshell: hsla(43, 57%, 88%, 1);
--bittersweet-shimmer: hsla(359, 47%, 51%, 1);

/* SCSS HEX */
$hunter-green: #386641ff;
$may-green: #6a994eff;
$android-green: #a7c957ff;
$eggshell: #f2e8cfff;
$bittersweet-shimmer: #bc4749ff;

/* SCSS HSL */
$hunter-green: hsla(132, 29%, 31%, 1);
$may-green: hsla(98, 32%, 45%, 1);
$android-green: hsla(78, 51%, 56%, 1);
$eggshell: hsla(43, 57%, 88%, 1);
$bittersweet-shimmer: hsla(359, 47%, 51%, 1);

/* SCSS RGB */
$hunter-green: rgba(56, 102, 65, 1);
$may-green: rgba(106, 153, 78, 1);
$android-green: rgba(167, 201, 87, 1);
$eggshell: rgba(242, 232, 207, 1);
$bittersweet-shimmer: rgba(188, 71, 73, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #386641ff, #6a994eff, #a7c957ff, #f2e8cfff, #bc4749ff);
$gradient-right: linear-gradient(90deg, #386641ff, #6a994eff, #a7c957ff, #f2e8cfff, #bc4749ff);
$gradient-bottom: linear-gradient(180deg, #386641ff, #6a994eff, #a7c957ff, #f2e8cfff, #bc4749ff);
$gradient-left: linear-gradient(270deg, #386641ff, #6a994eff, #a7c957ff, #f2e8cfff, #bc4749ff);
$gradient-top-right: linear-gradient(45deg, #386641ff, #6a994eff, #a7c957ff, #f2e8cfff, #bc4749ff);
$gradient-bottom-right: linear-gradient(135deg, #386641ff, #6a994eff, #a7c957ff, #f2e8cfff, #bc4749ff);
$gradient-top-left: linear-gradient(225deg, #386641ff, #6a994eff, #a7c957ff, #f2e8cfff, #bc4749ff);
$gradient-bottom-left: linear-gradient(315deg, #386641ff, #6a994eff, #a7c957ff, #f2e8cfff, #bc4749ff);
$gradient-radial: radial-gradient(#386641ff, #6a994eff, #a7c957ff, #f2e8cfff, #bc4749ff);